@model P6_Binot_Jonathan.Data.Problemes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Problemes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdProduit" class="control-label"></label>
                <select asp-for="IdProduit" class="form-control" asp-items="ViewBag.IdProduit"></select>
                <span asp-validation-for="IdProduit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVersion" class="control-label"></label>
                <select asp-for="IdVersion" class="form-control" asp-items="ViewBag.IdVersion"></select>
                <span asp-validation-for="IdVersion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSysteme" class="control-label"></label>
                <select asp-for="IdSysteme" class="form-control" asp-items="ViewBag.IdSysteme"></select>
                <span asp-validation-for="IdSysteme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreation" class="control-label"></label>
                <input asp-for="DateCreation" class="form-control" />
                <span asp-validation-for="DateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateResolution" class="control-label"></label>
                <input asp-for="DateResolution" class="form-control" />
                <span asp-validation-for="DateResolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdStatut" class="control-label"></label>
                <select asp-for="IdStatut" class="form-control" asp-items="ViewBag.IdStatut"></select>
                <span asp-validation-for="IdStatut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Problème" class="control-label"></label>
                <input asp-for="Problème" class="form-control" />
                <span asp-validation-for="Problème" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resolution" class="control-label"></label>
                <input asp-for="Resolution" class="form-control" />
                <span asp-validation-for="Resolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
